
body {
    background-color: rgb(52, 149, 167);
    margin: auto;
}
footer {
    background-color: blue;
    margin: auto;
    text-align: center;
    vertical-align: bottom;
}
p {
    text-align: center;
    display: inline;
    padding-right: 50px;
    color: white;
}
h1 {
    text-align: center;
    color: White;
}
a {
    color: white;
}
.images {
    padding-top: 30px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.leftside {
    text-align: left;
    width: 75%;
    
}
.navbarclass {
    text-align: center;
    background-color: blue;
}
li {
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    margin: auto;
}
.sidebyside {
    overflow: auto;
    margin: 0 auto;
}
