/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/* font-family: 'Germania One', cursive;
font-family: 'Roboto', sans-serif; */
.purple {
    color: purple;
}
.green {
    color: green;
}
.blue {
    color:blue;
}
.images {
    height: 100%;
    width: 100%;
}
/* form */
.form-row{
    justify-content: center;
}
#saveme {
    justify-content: center;
}
#submitbutton {
    margin-bottom: 5px;
}
.card-block {
    text-align: center;
}
#german {
    font-family: 'Germania One', cursive;
}
#roboto {
    font-family: 'Roboto', sans-serif;
}



/* The animation code */
@keyframes example {
    from {background-color: gray;}
    to {background-color: white;}
  }

@keyframes jumbo {
    from {background-color: white;}
    to {background-color: rgb(209, 206, 206);}
}
  
  /* The element to apply the animation to */
  .animated {
    background-color: gray;
    animation-name: example;
    animation-duration: 5s;
  }

  .jumboanimate {
    background-color: rgb(209, 206, 206);
    animation-name: jumbo;
    animation-duration: 5s;
  }

  .bluebox {
    -webkit-box-shadow: 11px 10px 5px 0px rgba(16,107,204,1);
    -moz-box-shadow: 11px 10px 5px 0px rgba(16,107,204,1);
    box-shadow: 11px 10px 5px 0px rgba(16,107,204,1);
  }
.redbox {
    -webkit-box-shadow: 11px 10px 5px 0px rgba(212,27,46,1);
    -moz-box-shadow: 11px 10px 5px 0px rgba(212,27,46,1);
    box-shadow: 11px 10px 5px 0px rgba(212,27,46,1);
}
.greenbox {
    -webkit-box-shadow: 11px 10px 5px 0px rgba(16,145,44,1);
    -moz-box-shadow: 11px 10px 5px 0px rgba(16,145,44,1);
    box-shadow: 11px 10px 5px 0px rgba(16,145,44,1);
}
a:hover {
    background-color: gray;
  }